.side-bar {
  padding: 1rem;
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 15rem;
  background-color: #FBD000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .25);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}