/* Contact Section Styles */

/* Contact Info */
.contact-info {
  text-align: left;
  margin-bottom: 2rem; 
}

.contact-info p {
  color: #000;
  margin: 0.25rem 0;
  font-size: 1rem;
  line-height: 1.5;
}