/* Languages Section Styles */

/* Languages */
.languages {
  margin-bottom: 2rem;
}

.languages ul {
  margin-left: 1.5rem;
}

.languages li {
  color: #14213D;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 0.25rem;
}